<div class="login-container">
  <h1 class="login">Login</h1>
  <br>
<%# ----- Error Messages ----- %>
  <% if notice %>
    <div class="signup-flash alert alert-danger" role="alert"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="signup-flash alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
<%# ----- Login Form ----- %>
  <%= form_tag '/login', {:class => "signup-form"} do %>
    <div class="form-group">
    <%= text_field_tag :email, "", class: 'form-control signup', placeholder: "Email" %>
    </div>
    <%= password_field_tag :password, "", class: 'form-control signup', placeholder: "Password" %>
    <%= submit_tag "Submit", class: 'btn btn-primary' %>

  <% end %>
</div>